{{ define "main" }}
<article class="blog-post">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.author_github }} <span class="sep">|</span> <a href="https://github.com/{{ . }}" class="author">{{ $.Params.author | default . }}</a>{{ end }}
    </div>
    <div class="post-content">
        {{ .Content }}
    </div>
    <a href="/blog/">Back to blog</a>
</article>
{{ end }}
