{{- $title := .Title -}}
{{- $description := .Description | default .Site.Params.description -}}
{{- $image := "" -}}
{{- with .Params.images -}}
  {{- $image = index . 0 -}}
{{- else -}}
  {{- with .Site.Params.images -}}
    {{- $image = index . 0 -}}
  {{- end -}}
{{- end -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{- with $image }}
<meta name="twitter:image" content="{{ . }}">
{{- end }}
